extends layout

block content
    h1  Edit User

    form(method="POST" action='/edit')
        p
            label(for='id') Enter the ID for the user to edit:
            input(type='text', id='id', name='id')
        button Submit

    if isEmpty
        h1 ID not in Database