doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      a(href='/') Home
      a(href='/add') Add
      a(href='/find') Find
      a(href='/edit') Edit
      a(href='/delete') Delete
    block content