body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  margin: 12px;
  color: #00B7FF;
  font-size: 2em;
}

img{
  height: 100px;
}

.gridSection{
  margin-bottom: 12px;
  border-bottom: 2px solid darkslategrey;
}